.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #1f88f1;
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    p {
      font-weight: 500;
      color: #000;
      font-size: 20px;
    }
    p.active {
      color: #fff;
    }
  }
}
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  .user {
    color: #fff;
    font-weight: 600;
    span {
      color: #000;
    }
  }
  .logout {
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s linear;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
